/*
Theme Name: WP SNA - Tema SNA
Author: wwwxkz
Author URI: https://github.com/wwwxkz
Description: Nova aparencia do site SNA
Version: 0.1
*/

/* Footer #################################################################################### */

.footer {
    padding: 3%;
}

.links {
    justify-content: space-around;
    flex-grow: .3;
}

.btn-success {
    border: none !important;
    background-color: #17b14b !important;
}

.btn-primary {
    border: none !important;
    background-color: #1a447a !important;
}

.whatsapp {
    background-color: #55cd6c;
    border-radius: 10px;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 10%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp > img {
    height: 50px;
    width: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #194579;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.separator {
    border-right: 2px solid #e5e5e5 !important;
}

.links-lista {
    color: white;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.links-lista>li {
    margin-bottom: 5px;
}

.links-lista>li>h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logos {
    margin-top: 20px;
}

.logos > div {
    display: flex;
    justify-content: center;
}

.logos > div > img {
    filter: brightness(0) invert(1);
}

.logos > div:not(:first-child) > img {
    width: 50%;
}

.logos > h6 {
    text-align: center;
    color: white;
}

.logos>.social {
    justify-content: center;
}

.logos > .social> img {
    width: auto !important;
    height: 25px !important;
}

.footer-container>h8 {
    text-align: center;
    color: white;
    padding: 3%;
}

@media screen and (max-width: 700px) {
    .links-lista>li:not(:first-child) {
        display: none;
    }

    .links,
    .footer {
        flex-flow: column-reverse;
    }

    .logos>div>img {
        filter: brightness(0) invert(1);
        width: 40%;
    }

    .whatsapp {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        bottom: 10%;
        right: -1%;
    }
}

/* Navbar ################################################################################ */


body {
  background-color: black !important;
}

.wp-menu {
    padding-left: 0;
}

.navbrand-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.wp-menu > li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style: none;
}

.wp-menu > li > a {
    text-decoration: none;
    color: rgba(0,0,0,.55);
}

.navbar-light {
    height: 100px;
}

.menu {
    height: 40; filter: invert(18%) sepia(85%) saturate(1111%) hue-rotate(190deg) brightness(94%) contrast(91%);
}

.navbar-toggler {
    border: none !important;
    padding: 0 !important;
}

.container-fluid {
    border-radius: 20px;
    padding-left: calc(100% - 1150px) !important;
    padding-right: calc(100% - 1150px) !important;
}

.container {
    max-width: 100% !important;
    transition: .5s;
    background-color: white;
    padding-left: calc(100% - 1150px) !important;
    padding-right: calc(100% - 1150px) !important;
}

ul.dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: none !important;
    margin-top: 44 !important;
    text-align: left;
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

ul.dropdown-menu > li > a {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.btn {
    border-radius: 0.9rem !important;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .5s;
}

.botoes>button {
    width: 190px !important;
    font-size: 13px !important;
}

.botoes > .social > img {
    height: 25px;
    filter: invert(18%) sepia(85%) saturate(1111%) hue-rotate(190deg) brightness(94%) contrast(91%);
}

.botoes > button > a {
  text-decoration: none;
  color: white;
}

.container {
    padding-top: 180px;
    padding-bottom: 55px;
}

.progress-bar-container {
    position: fixed;
    top: 100px !important;
}

#progress-bar {
    --scrollAmount: 100%;
    background-color: #1a447a;
    width: var(--scrollAmount);
    height: 15px;
    display: block;
}

.mobile {
    display: none !important;
}

.botoes>.social {
    color: #1a447a;
}

.navbar-brand>img {
    width: 150px;
}

.navbar-toggler>img,
img.mobile {
    filter: invert(18%) sepia(85%) saturate(1111%) hue-rotate(190deg) brightness(94%) contrast(91%);
    width: 30px;
    height: 30px;
}

.container-fluid>img {
    filter: invert(18%) sepia(85%) saturate(1111%) hue-rotate(190deg) brightness(94%) contrast(91%);
}


@media screen and (max-width: 1570px) {
    .container-fluid {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .container {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
}


@media screen and (max-width: 780px) {
    .navbar-light {
        height: 70px;
    }

    .navbar-brand>img {
        width: 110px;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-top: 80px !important;
        padding-bottom: 40px !important;

    }

    .container, .container-fluid {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    ul.dropdown-menu {
        padding: 0 !important;
        margin-top: 29 !important;
    }

    .progress-bar-container {
        top: 70px !important;
    }

    .offcanvas-end {
        width: 250px !important;
    }
}

/* Categories ######################################################################### */

.categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
}
.categoria {
    display: flex;
    color: black;
    background-color: white; /* Change sometime <----------> */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 32%;
}
.categoria:not(.principal) > img {
    padding: 20px;
}
.categoria.principal {
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    margin: 5px;
    /* flex: 1 0 21%; */
    flex-direction: row;
    width: auto;
}
.categoria.principal:first-child {
    margin-left: 0px;
}
.categoria.principal:last-child {
    margin-right: 0px;
}
.categoria.principal > div:first-child {
  display: flex;
  justify-content: center;
  width: 30%;
}
.categoria.principal > div:last-child {
  width: 70%;
}
.categoria > div > a {
    text-decoration: none;
    color: #1a447a;
}
.categoria > a {
    text-decoration: none;
    color: black;
}
.categoria > a > h6 {
    text-align: justify;
    padding: 20px;
    padding-top: 0;
}
.categoria > h6 > a {
    color: #1a447a;
}
.categoria > h6 {
    text-align: center;
}
.categorias-header {
    color: #1a447a;
}
.titulo {
    font-weight: 600;
}

@media screen and (max-width: 780px) {
    .categoria.principal {
        flex: none;
        flex-grow: 1 !important;
        width: 100%;
    }

    .categoria {
      flex: auto;
    }

}

/* HOME PAGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */

.botao-home > a {
  padding: 2px 25px;
  font-size: 1.3rem !important;
}

.botoes-acesso {
    display: none !important;
}

.home-categoria {
  display: flex;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.home-categoria.rapido {
  padding: 10px;
}

.home-categoria > p {
  margin-left: 15px;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  width: 30%;
}

.home-categoria.empresa > p {
    width: 0%;
}

.home-categoria.empresa {
  padding: 0px !important;
}

.home-categoria > p:last-child {
  margin-left: 15px;
  margin-bottom: 0 !important;
  width: 70%;
  display: initial
}

.home-categoria.empresa > p:last-child {
  display: inherit;
  margin-left: -15px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 780px) {
    .home-categoria, .home-categoria.empresa {
        padding: 10px !important;
    }
    .botoes-acesso {
        display: block !important;
    }
}
